.wrapper {
  padding: 20px;
  margin-left: 50px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.cartItemsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.totalPrice {
  font-size: 22px;
  margin-top: 20px;
  color: #333;
}

.checkoutButtonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


.checkoutLinkButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
}


.checkoutLinkButton:hover {
  background-color: #45a049;
  }

.emptyCartContainer {
  position: relative;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/images/Empty cart.jfif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.emptyCartImg {
  position: absolute;
  font-size: 32px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 20px;
  border-radius: 8px;
}



